
/*cursor no blinky*/
body {
  user-select: none;
  margin: 0;
  padding: 0;
  font-family: 'Victor Mono', monospace;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


html {
  scroll-behavior: smooth;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Add this */
  padding: 0 20px;  /* Top padding is now 0 */
  background: transparent;
  z-index: 1000;
  background: rgba(0, 0, 0, 0); /* adjust the alpha as needed */
}

body div#header a#logo {
  color: #000000; /* change color as per your preference */
}

#name {
  font-size: 50px;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li {
  display: inline;
  margin-right: 20px;
}
#navbar a:visited {
  color: rgb(0, 0, 0);
}
#navbar a {
  position: relative;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  /*color: rgba(0, 0, 0, 0.5);  adjust the alpha as needed */
}

#navbar a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#navbar a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


#navbar li a {
  text-decoration: none;
  font-size: 18px;
}

/*white header*/
.special-page #header,
.special-page #navbar a,
.special-page #navbar a:visited,
.special-page #navbar a::after,
.special-page #navbar li a,
.special-page #logo {
  color: #ffffff; /* This will change the color to white */
}

body.special-page div#header a#logo {
  color: #ffffff ; 
}



#image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#content {
  color: white;
  height: auto;
  overflow: hidden;
}

#scroller-container {
  display: flex;
  white-space: nowrap;
  will-change: transform;
}

#scroller, #scroller2 {
  font-size: 10em;
  padding-right: 50px;
}

#circle {
  position: fixed;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 150ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode, width, height; /* Added width and height */
  z-index: 9999;
  mix-blend-mode: difference;
}
#circle.bigger {
  width: 36px;
  height: 36px;
}



#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Aligns items in the center in the horizontal axis */
  padding: 20px;
  margin-top: 100px; /* Adjust this value as per your needs */
}


.portfolio-image {
  flex: 0 0 calc(33.33% - 40px); /* Calculate the width minus the margin */
  margin: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); /* Optional: Add a shadow for effect */
  box-sizing: border-box; /* Makes sure that the padding and border are included in the element's total width and height */
}


.portfolio-image img {
  width: 100%;
  height: auto;
}


#logo {
  text-decoration: none;
  font-size: 30px; /* adjust as per your preference */
  color: #000000; /* change color as per your preference */
}



/*single column*/
#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; /* Adjust this value according to the height of navbar */
  
}

.portfolio-image {
  display: flex;
  justify-content: center;
}

.portfolio-item {
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding-top: 19px;
  
}

.portfolio-item img {
  width: 100%;
  height: auto;
}

.portfolio-item h2 {
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  font-size: 30px; 
  text-align: center;
  text-decoration: none;
}

.portfolio-item p {
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
  text-align: center;
  text-decoration: none;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;  
}

/* blog page */
.blog-page h2, .blog-page p {
  text-align: left;
}


#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.columns-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  width: 100%; /* Make sure the container takes up full width */
}

.about-column {
  flex: 1 1 50%; 
  padding: 20px;
  box-sizing: border-box;
  position: relative; /* Add this to correct the absolute positioning context for the after pseudoelement */
}

/* Line between columns 
.about-column::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background: #c45454;
  right: 0;
}*/

.about-column:last-child::after {
  display: none;
}
/* New Style for Image */
.about-column img {
  width: 100%;
  height: auto;
}


footer {
  padding: 60px 0;
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  margin-top: auto;
}
footer h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px; /* Adjust the margin as needed */
}


#contact-info {
  text-align: center; /* or 'center' if you want them centered */
  padding-left: 60px; /* Adjust as needed */
  padding-top: 180px; /* Adjust as needed */
  
}

#contact-info a {
  position: relative;
  color: #ffffff; /* Adjust color as needed */
  text-decoration: none; /* Removes the default underline */
  display: block; /* Makes each link start on a new line */
  width: fit-content;
  padding-top: 1px; 
  padding-bottom: 1px; 
}

#contact-info a::after {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  bottom: 0;
  height: 1px;
  background-color: #ffffff; /* Change underline color as needed */
  transition: width 0.25s ease-out;
}

#contact-info a:hover::after {
  width: 100%;
}


#contact-info a:hover {
  color: #ffffff; /* Adjust hover color as needed */
}


footer p {
  text-align: center; /* Centers the text within the paragraph */
}


/*pointer*/
body {
  cursor: none;
}
body, a {
  cursor: none;
}

/*loading*/
#loading-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
  z-index: 10000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
